# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Lesson3/lesson3__/index.js
Lesson3/lesson3__/access1.log
Lesson3/access1.log
Lesson3/access.log
Lesson3/access_short.log
Lesson4/lesson4/access.log
Lesson4/lesson4/cli.js
Lesson4/lesson4/package-lock.json
Lesson4/lesson4/package.json
Lesson4/lesson4/hw3/index.js
