# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Lesson3/lesson3__/index.js
Lesson3/lesson3__/access1.log
Lesson3/access1.log
Lesson3/access.log
Lesson3/access_short.log
Lesson4/lesson4/access.log
Lesson4/lesson4/cli.js
Lesson4/lesson4/package-lock.json
Lesson4/lesson4/package.json
Lesson4/lesson4/hw3/index.js
Lesson5/lesson5/index.html
Lesson5/lesson5/index.js
Lesson5/lesson5/hw4/cli.js
Lesson5/lesson5/hw4/package-lock.json
Lesson5/lesson5/hw4/package.json
Lesson5/lesson5/hw4/yarn.lock
Lesson6/lesson6/index.html
Lesson6/lesson6/index.js
Lesson6/lesson6/multistreams/worker.js
Lesson6/lesson6/multistreams/package.json
Lesson6/lesson6/multistreams/index.js
Lesson6/lesson6/hw5/yarn.lock
Lesson6/lesson6/hw5/package.json
Lesson6/lesson6/hw5/package-lock.json
Lesson6/lesson6/hw5/index.js
Lesson6/lesson6/hw5/index.html
Lesson6/lesson6/yarn.lock
Lesson6/lesson6/package.json
Lesson6/lesson6/package-lock.json
